.update_user_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.update_user_container button{
    margin-bottom: 2rem;
}

.update_user_inner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
}
