.customer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.customer_inner-container {
    width: 85%;
}

.customer-error {
    color: darkred;
}