.customers_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers_inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 85%;
}