.farm_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.farm_inner-container {
    width: 85%;
}

.farm-error {
    color: darkred;
}