.admin_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin_inner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85%;
}