.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #ff0055;
    border-radius: 4px;
    background: #ff0055;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
}

.button:focus {
    outline: none;
}

.button:hover,
.button:active {
    background: #ff4382;
    border-color: #ff4382;
}

.button-inverse {
    background: transparent;
    color: #ff0055;
}

.button-inverse:hover,
.button-inverse:active {
    color: white;
    background: #ff0055;
}

.button-danger {
    background: #830000;
    border-color: #830000;
}

.button-danger:hover,
.button-danger:active {
    background: #f34343;
    border-color: #f34343;
}

.button-primary {
    background: #162897;
    border-color: #0b1545;
}

.button-primary:hover,
.button-primary:active {
    background: #1c32bf;
    border-color: #101f66;
}

.button-dark {
    background: dimgrey;
    border-color: dimgray;
}

.button-dark:active,
.button-dark:hover {
    background: darkgrey;
    border-color: darkgrey;
}

.button-success {
    background-color: green;
    border-color: green;
}

.button-success:hover,
.button-success:active {
    background-color: #8ed226;
    border-color: #8ed226;
}

.button-warning {
    background: darkorange;
    border-color: darkorange;
}

.button-warning:hover,
.button-warning:active {
    background-color: orange;
    border-color: orange;
}

.button-danger:hover,
.button-danger:active {
    background: #f34343;
    border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
}
