.input_group{
    display: flex;
    justify-content: center;
    width: inherit;
    margin-bottom: 2rem;
    flex-direction: column;
}

.input_group label{
    padding-bottom: 5px;
}

.input_group input{
    flex: 1;
    padding: 10px;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 2px solid greenyellow;
    border-radius: 5px;
}

.input_group input:active,
.input_group input:focus{
    border-bottom: 2px solid green;
}

.input_error-label{
    color: darkred;
}