.account_container{
    display: flex;
    width: inherit;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.75);
    height: 5rem;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.account_actions{

}