.user_preview-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: inherit;
}

.user_preview-inner-container{
    display: flex;
    width: inherit;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgba(0,0,0,0.75);
    height: max-content;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}
.user_actions{
    padding: 1rem;
}