.registration_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.registration_inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    min-height: 450px;
    border-radius: 10px;
    background-color: rgba(191, 191, 191, 0.5);
    padding-bottom: 1rem;
}

.registration_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    padding: 1rem 1rem 2rem;
}

.registration-error{
    color: darkred;
}